.total-box-container{
    display: flex;
    justify-content: flex-end;
    
   
    
    padding:50px;

}

.total-box{
    width: 300px;
    height: 250px;
    padding: 25px;
    background-color: aquamarine;
}